.user-component {
  background-color: whitesmoke;
  color: #2d2d2d;
  height: 100px;
  width: 100px;
  display: grid;
  box-shadow: 0 10px 0px rgba(0, 0, 0, 0.5);
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-component:hover {
  transform: translateY(10px);
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.5);
}